# Static build directory
static

# Dependencies
node_modules

# Compiled templates
*.marko.js

# Cache used by lasso, etc.
.cache

# Test coverage output
.nyc_output

# Log files
*.log
npm-debug.log*
