<!doctype html>
<html>
<head>
    <title>${data.title}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png" />
</head>
<body>
    <header>
        <img class="logo" src="./logo-header.png"/>
        <h1>Hello ${data.name}</h1>
        <nav class="main">
            <a href="/">home</a>
            <a href="/counter">counter</a>
        </nav>
    </header>
    <div class="content" if(data.content)>
        <include(data.content)/>
    </div>
</body>
</html>